html,
body,
#root {
  height: 100%;
}

html {
  background-color: white;
}

.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "sidebar content";
}

.sidebar {
  grid-area: sidebar;
  height: 100%;
  overflow-y: scroll;
  background-color: rgb(59, 59, 59);
  resize: horizontal;
  overflow: hidden;
  min-width: 250px;
  max-width: 500px;
}

.content {
  grid-area: content;
  height: 100%;
  overflow-y: scroll;
}

.content-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
  margin: unset;
}
